<div class="row auth-block">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#login">Login</a></li>
            <li class="tab col s6"><a href="#register">Sign in</a></li>
        </ul>
    </div>

    <div id="login" class="col s6 offset-s3">
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        <h1>Login</h1>
        <form action="/auth/login" method="POST" novalidate>
            <div class="row">
                <div class="input-field">
                    <input name="email" placeholder="Email" id="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Enter email"></span>
                </div>
                <div class="input-field">
                    <input name="password" placeholder="Password" id="password" type="password" class="validate"
                        required>
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Enter password"></span>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
    <div id="register" class="col s6 offset-s3">
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}
        <h1>Sign in</h1>
        <form action="/auth/register" method="POST" novalidate>
            <div class="row">
                <div class="input-field">
                    <input name="email" placeholder="Email" id="remail" type="email" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Enter email"></span>
                </div>
                <div class="input-field">
                    <input name="password" placeholder="Password" id="rpassword" type="password" class="validate"
                        required>
                    <label for="password">Password</label>
                    <span class="helper-text" data-error="Enter password"></span>
                </div>
                <div class="input-field">
                    <input name="confirm" placeholder="Password" id="confirm" type="password" class="validate" required>
                    <label for="confirm">Confirm Password</label>
                    <span class="helper-text" data-error="Enter password"></span>
                </div>
                <div class="input-field">
                    <input name="name" placeholder="Name" id="name" type="text" class="validate" required>
                    <label for="name">Name</label>
                    <span class="helper-text" data-error="Enter name"></span>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>